<video autoplay muted loop oncanplay="this.play()" onloadedmetadata="this.muted = true">
  <source src="images/TOXIN_COVER_BACK.webm" type="video/webm" pla>
  Ваш браузер не поддерживает видео.
</video>
<img src="images/TOXIN_PNG.png" alt="Логотип" class="logo" />
<div class="glass donates">
  <div *ngIf="goal">
    <h1><span class="progress-icon"></span>🛑 {{goal.title}}</h1>
    <div class="progress-container">
      <div class="progress-bar" id="progressBar" [style.width]="progressGoalPercent"></div>
      <div class="progress-label" id="progressLabel">{{progressGoalDonates}}</div>
    </div>
    <label>(сумма заполняется вручную, с учетом бусти и крипты)</label>
    <ul class="links-list">
      <li><a class="link-card" href="https://www.donationalerts.com/r/toxinstudio" target="_blank"><i class="fa-solid fa-ruble-sign"></i>Донат алертс</a></li>
      <li><a class="link-card" href="https://new.donatepay.ru/@toxinstudio" target="_blank"><i class="fa-solid fa-coins"></i>Донат пей</a></li>
    </ul>
  </div>
</div>
<div class="glass">
  <div class="section-title">⚡ Эксклюзивный контент</div>
  <div class="boosty-center">
    <a class="link-card" href="https://boosty.to/toxin.studio" target="_blank"><i class="fa-solid fa-bolt"></i>Бусти</a>
  </div>
</div>
<div class="glass">
  <div class="section-title">🌐 Мои ссылки</div>
  <ul class="links-list">
    <li><a class="link-card" href="https://t.me/toxin_studio" target="_blank"><i class="fa-brands fa-telegram"></i>Телега</a></li>
    <li><a class="link-card" href="https://vk.com/toxin.studio" target="_blank"><i class="fa-brands fa-vk"></i>ВК группа</a></li>
    <li><a class="link-card" href="https://vk.com/video/@toxin.studio" target="_blank"><i class="fa-solid fa-video"></i>ВК видео</a></li>
    <li><a class="link-card" href="https://live.vkvideo.ru/toxinstudio" target="_blank"><i class="fa-solid fa-broadcast-tower"></i>ВК лайв</a></li>
    <li><a class="link-card" href="https://www.tiktok.com/@toxin.studio" target="_blank"><i class="fa-brands fa-tiktok"></i>Тик ток</a></li>
    <li><a class="link-card" href="https://www.instagram.com/toxin.studio" target="_blank"><i class="fa-brands fa-instagram"></i>Инста</a></li>
    <li><a class="link-card" href="https://www.twitch.tv/toxinstudio" target="_blank"><i class="fa-brands fa-twitch"></i>Твич</a></li>
    <li><a class="link-card" href="https://www.youtube.com/@TOXINSTUDIO" target="_blank"><i class="fa-brands fa-youtube"></i>Ютуб</a></li>
    <li><a class="link-card" href="https://x.com/toxin_studio" target="_blank"><i class="fa-brands fa-x-twitter"></i>X (твиттер)</a></li>
    <li><a class="link-card" href="https://rutube.ru/channel/38935121" target="_blank"><i class="fa-solid fa-film"></i>Рутуб</a></li>
    <li><a class="link-card" href="https://memealerts.com/toxinstudio" target="_blank"><i class="fa-solid fa-face-laugh"></i>Мемы</a></li>
  </ul>
</div>
<div class="glass">
  <div class="section-title">💬 Контакты для связи</div>
  <ul class="links-list">
    <li><a class="link-card" href="https://t.me/YuriBelousOff" target="_blank"><i class="fa-brands fa-telegram"></i>Telegram</a></li>
    <li><a class="link-card" href="mailto:yuri.belousov@toxinstudio.ru"><i class="fa-solid fa-envelope"></i>yuri.belousov&#64;toxinstudio.ru</a></li>
  </ul>
</div>
<div class="glass">
  <div class="section-title">💲Крипта</div>
  <ul class="crypto-list">
    <li class="crypto-item">
      <i class="fa-brands fa-btc"></i>BTC: {{ CRYPTO_BTC }}
      <button class="crypto-copy-btn" (click)="copyCrypto(CRYPTO_BTC)">
        <i *ngIf="copiedAddress === CRYPTO_BTC; else copyIcon1" class="fa-solid fa-check"></i>
        <ng-template #copyIcon1><i class="fa-regular fa-copy"></i></ng-template>
      </button>
    </li>
    <li class="crypto-item">
      <i class="fa-solid fa-coins"></i>USDT (TRC20): {{ CRYPTO_USDT }}
      <button class="crypto-copy-btn" (click)="copyCrypto(CRYPTO_USDT)">
        <i *ngIf="copiedAddress === CRYPTO_USDT; else copyIcon2" class="fa-solid fa-check"></i>
        <ng-template #copyIcon2><i class="fa-regular fa-copy"></i></ng-template>
      </button>
    </li>
  </ul>
</div>
<div class="footer"></div>
